<div class="box">
  <div class="box-header">
    <strong>{{ widget.name }}</strong>
    <div class="box-header-btns pull-right">
      <a title="settings" ng-click="settingsWidget(widget)"><i class="glyphicon glyphicon-cog"></i></a>
      <a title="Remove widget" ng-click="removeWidget(widget)"><i class="glyphicon glyphicon-trash"></i></a>
    </div>
  </div>
  <div class="box-content" ng-controller="MqttCtrl" right-click="clear()" ng-context-menu="clear()" oncontextmenu="clear();return false;">
    <widget-content></widget-content>
  </div>
</div>